

:3000 {
	handle /* {
		reverse_proxy https://coolify.io {
			header_up Host coolify.io
		}
	}
	handle /docs* {
		reverse_proxy https://coollabstechnologiesbt.mintlify.dev {
			header_up Host coollabstechnologiesbt.mintlify.dev
		}
	}
	handle /kb* {
		reverse_proxy https://test.coolify.io/docs/knowledge-base/docs/knowledge-base {
			header_up Host coollabstechnologiesbt.mintlify.dev
		}
	}
}
