:3000 {
	handle /docs* {
		reverse_proxy https://coollabstechnologiesbt.mintlify.dev {
			header_up Host coollabstechnologiesbt.mintlify.dev
		}
	}
	handle /* {
		reverse_proxy https://v4.coolify.io {
			header_up Host coolify.io
		}
	}
}
